{{> header}}
{{> navbar}}


        <div class="row">
            <div class="col-8">
                <h1>

                </h1>
            </div>
        </div>
        <div class="col-8">
            <img src="assets/imagenes/perrito-triste.jpg" class="img-thumbnail">
        </div>

{{> footer}}